@tailwind base;
@tailwind components;
@tailwind utilities;

.markdown-body ul {
  list-style: circle;
}

.markdown-body ol {
  list-style: decimal;
}

.markdown-body input[type="checkbox"] {
  margin: 0 0.2em 0.25em -1.6em;
  vertical-align: middle;
  border-radius: 0.25em;
}

html {
  scroll-behavior: smooth;
}
